<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codefolio.mapper.ProjMapper">
    <resultMap type="com.codefolio.vo.ProjVO" id="projResult">
        <result property="projSeq" column="proj_seq"/>
        <result property="user" column="user"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="view" column="view"/>
        <result property="stack" column="stack"/>
        <result property="content" column="content"/>
        <result property="period" column="period"/>
        <result property="preview" column="preview"/>
    </resultMap>


    <select id="getProjListOri" parameterType="com.codefolio.vo.ProjVO" resultType="Map">
        SELECT *
        FROM codefolio.proj
        ORDER BY proj_seq DESC;
    </select>
    
    
<select id="getProjList" parameterType="HashMap" resultType="Map">
		SELECT 
			proj_seq, 
			title, 
			user, 
			thumbnail
  		FROM codefolio.proj 
  		WHERE 
			replace([p.title], ' ', '') LIKE CONCAT_WS('%',#{keyword},'%')
		OR
			replace([p.content], ' ', '') LIKE CONCAT_WS('%',#{keyword},'%')
		OR
			replace([p.stack], ' ', '') LIKE CONCAT_WS('%',#{keyword},'%')
		ORDER BY p.proj_seq DESC
		LIMIT #{criteria.amount} OFFSET #{criteria.startNum}		
	</select>

    <select id="searchProj" parameterType="String" resultType="Map">
		SELECT 
			p.proj_seq, 
			p.title, 
			p.user, 
			f.file_name
  		FROM codefolio.proj AS p
  		LEFT OUTER JOIN 
  		file AS f
        ON f.board_seq = p.proj_seq
  		WHERE 
			p.title LIKE CONCAT_WS('%', #{keyword}, '%')
		OR
			p.content LIKE CONCAT_WS('%', #{keyword}, '%')
		ORDER BY p.proj_seq DESC		
	</select>

    <select id="selectProjCount" resultType="int">
		SELECT COUNT(*) FROM codefolio.proj
	
		<if test="keywordType == 'title'">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="keywordType == 'content'">
			AND `content` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="keywordType == 'titleAndBody'">
			AND (title LIKE CONCAT('%', #{keyword}, '%') OR `content` LIKE CONCAT('%', #{keyword}, '%'))
		</if>
	</select>

    <select id="getProjandFile" resultType="HashMap">
		select p.*, f.fileName
		from proj AS p
		left outer join 
		(
		select f1.file_seq as fSeq, f1.file_name as fileName, f1.board_seq AS pSeq
		from file as f1 
			left join file as f2 
			on f1.board_seq = f2.board_seq 
			and f1.file_seq > f2.file_seq
		    where f2.file_seq is null
		    AND f1.board_type = 'proj'
		) as f
		on p.proj_seq = f.pSeq
		order by p.proj_seq DESC
		limit 300;
	</select>

    <select id="getProjByUser" parameterType="com.codefolio.vo.ProjVO"  resultType="Map">
        SELECT *
        FROM codefolio.proj
        where user=#{userId}
        ORDER BY proj_seq DESC;
    </select>

    <select id="getProjDetail" parameterType="int" resultType="com.codefolio.vo.ProjVO" resultMap="projResult">
        SELECT *
        FROM proj
        WHERE proj_seq = #{projSeq}
    </select>

    <select id="getProjSeq" resultType="int">
        SELECT IFNULL(MAX(proj_seq), 0) + 1
        FROM codefolio.proj
    </select>

    <select id="getTotalProj" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM codefolio.proj;

    </select>

    <insert id="addProj">
        INSERT
        INTO codefolio.proj
            ( proj_seq, user, title, url, view ,stack, content, period, regDate )
        VALUES (
            (SELECT IFNULL(MAX(proj_seq), 0) + 1 FROM codefolio.proj A),
            #{user},
            #{title},
            #{url},
            (SELECT IFNULL(MAX(view), 0) + 1 FROM codefolio.proj A),
            #{stack},
            #{content},
            #{period},
            NOW()
               )
    </insert>

    <delete id="deleteProj" parameterType="int">
        DELETE
        FROM codefolio.proj
        WHERE proj_seq = #{projSeq}
    </delete>

<!--hweyoung update-->
    <update id="updatePreview">
        UPDATE codefolio.proj
        SET preview=#{preview}
        WHERE proj_seq=#{projSeq};
    </update>

    <update id="update" parameterType="map">
        UPDATE codefolio.proj
        SET
            user = #{user},
            title = #{title},
            url = #{url},
            stack = #{stack},
            content = #{content},
            period = #{period}
        WHERE proj_seq = #{projSeq}
    </update>

    <update id="viewUp" parameterType="int">
        UPDATE codefolio.proj
        SET view = view +1
        WHERE proj_seq = #{projSeq}
    </update>

    <select id="getLikeProj" parameterType="HashMap" resultType="Map">					
		SELECT 
			p.proj_seq, 
			p.title, 
			p.user
  		FROM codefolio.proj AS p
  		LEFT OUTER JOIN 
  		codefolio.like AS l
        ON l.proj_seq = p.proj_seq
       	WHERE
        l.proj_seq = p.proj_seq
       	AND
       	l.user_id = #{userId}
		LIMIT #{criteria.amount} OFFSET #{criteria.startNum}
	</select>
	
	<select id="getLikeProj" parameterType="com.codefolio.vo.Criteria" resultType="Map">					
		SELECT 
			proj_seq, 
			title, 
			user
  		FROM codefolio.proj 
		LIMIT #{criteria.amount} OFFSET #{criteria.startNum}
		DESC like
	</select>


</mapper>